body {
    background-color: black;
}


.main-nav {
    padding-left : 9%;
    padding-right : 9%;
    padding-top: 7px;
    background-color: transparent;
    position: absolute;
}

.navbar-nav .nav-item .nav-link {
    font-weight : 600 !important;
    font-size : 13px !important;
}

.navbar-brand i {
    color : white;
    font-size : 20px;
    text-align: center;
}

.nav-detail {
    position: fixed;
    width : 100%;
    z-index : 5;
    
}

.comment {
    width : 200px;
    height : 100px;
    overflow-y: scroll;
    color : white;
}

.main-img {
    display : block; /* img 태그는 inline 속성 */
    object-position: center;
    object-fit : cover;
    width : 100%;
    height : 100vh;
}

.main-background {
    width : 100%;
    height : 100vh;
    background-repeat: no-repeat;
    position: relative;
    /* overflow: hidden; */
}

.mainMenu-container {
    width : 100%;
    position: absolute;
    top : 50%;
    padding : 5%;
    padding-left : 10%;
    padding-right: 10%;
    transform: translateX(-50%, -50%);
    z-index: 5;
}

.title {
    color : white;
    font-size : 48px;
    font-weight: 700;
}

.icon-container {
    padding-top : 10px;
    padding-bottom: 20px;
    display : flex;
    flex-wrap: wrap; /* wrap으로 쌀지 안쌀지 넣으면 자동으로 줄바꿈 */
    justify-content: flex-start; /* 시작점만 알리기 */
    gap : 13px;
}

.sns-icon {
    color : rgba(255, 255, 255, 0.327);
    width : 28px;
}

.button-container {
    width : 100%;
    display : flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap : 4px;
    
}

/*
js로 버튼 애니메이션 구현
*/

.start-content {
    width : 84px;
    background-color: transparent;
    color : white;
    padding : 10px 15px;
    font-size: 13px;
    font-weight: 600;
    cursor : pointer;
}

.start-button {
    border-radius: 30px;
    border : 1px solid ;
}

.button-container a:hover {
    color : white;
    text-decoration: none;
}
/*
    background와 object 차이
    background는 어떤 빈 박스에 하는 것 div쪽
    object 경우는 img와 같은 그런 이미 정해져있는 요소에 넣기
    최적화에 유리함. (이미지 먼저 불러오기 때문)
    이미지 위에 글자를 올릴 경우 position : absolute 같은 것ㅇ 필요해서 레이아웃 잡기가 어렵다네
    // 배경 위에 글자 필요하다 있으면 써야함
*/

/*
position : absolute
이거는 relative를 부모로 해서 그걸 기준점으로 잡아 움직임
relative가 없는 경우는 계속 올라가 html 태그까지 올라가기에
html -> viewport가 기준점 (fixed와 같다)

*/

.content-container {
    padding : 8vw;
    padding-top : 4vh;
    position: relative;
}

.carosel-wrapper {
    width : 100%;
    margin : 20px 0;
    position: relative;
    display : flex;
    align-items: center;
}

.info-carosel {
    padding-left : 1.5vw;
    padding-right: 1.5vw;
    width : 100%;
    height : 30vh;
    overflow : hidden;
    position: relative;
    
}

.track {
    width : 100%; /* 이렇게 하면 자식 값들 다 들어간 정도로 늘어나게 됨 */
    height : 100%;
    display: flex;
    flex-wrap :nowrap; /* 일자로 */
    transition: transform 0.5s ease;

}

.info-image {
    flex : 0 0 calc((100% - (0.7vw * 6))/ 7);
    width : calc((100% - (0.7vw * 6)) / 7);
    height : 100%;
    object-fit: cover;
    /* 비율 유지하면서 하려면 cover fill은 내 크기에 걍 맞춤  */
    object-position: center;
    margin-right: 0.7vw;
    border-radius: 10px;
}

.info-image:nth-child(5) {
    object-position: center 20%;

}
.info-image:nth-child(7){
    object-position: center 10%;
}

.prev-button, .next-button {
    position: absolute; 
    top : 50%;
    transform: translateY(-50%);
    width : 35px;
    height : 35px;

    border-radius: 70px;
    
    display : flex;
    align-items: center;
    justify-content: center;
    z-index : 20;
    
    font-size: 14px;
    color : white;
    background-color: rgb(42, 42, 42);
    box-shadow : -3px 2px 5px rgba(130, 130, 130, 0.2);
    border: none;
    display : none;
}

.prev-button {
    left :0.3vw;
}

.next-button {
    right : -1.5vw;
}

.twitter-container {
    width : 100%;
    margin-top : 50px;
    padding-left : 1.5vw;
    padding-right: 1.5vw;
}

.twitter-container span {
    color : white;
    font-weight: 600;
}

.twitter-carosel-wrapper {
    width : 100%;
    height : 38vh;
    margin-top: 10px;
    overflow : hidden;
    position: relative;
}

.twitter-carosel {
    width : 100%; /* 이렇게 하면 자식 값들 다 들어간 정도로 늘어나게 됨 */
    height : 100%;
    display: flex;
    flex-wrap :nowrap; /* 일자로 */
    transition: transform 0.5s ease;
}

.sns-image {
    flex : 1 0 calc((100% - (1.5vw * 4)) / 4);
    width : calc((100% - (1.5vw * 4)) / 4);
    height : 100%;
    margin-right: 1.5vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.twitter-prev-button, .twitter-next-button {
    position: absolute; 
    top : 50%;
    transform: translateY(-50%);
    width : 35px;
    height : 35px;

    border-radius: 70px;
    
    display : flex;
    align-items: center;
    justify-content: center;
    z-index : 50;
    
    font-size: 14px;
    color : white;
    background-color: rgb(42, 42, 42);
    box-shadow : -3px 2px 5px rgba(130, 130, 130, 0.2);
    border: none;
    display : none;
    
    
}

.twitter-prev-button {
    left :0vw;
}

.twitter-next-button {
    right : 0vw;
}